<!DOCTYPE HTML>
<html>
<head>
    <title>Новости</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.min.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Logo -->
                <a href="/" class="logo">
                    <span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Новости</span>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Меню</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        @(await Component.InvokeAsync<FoterViewComponent>())
        @RenderBody()
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Подписывайтесь</h2>
                    <ul class="icons">
                        <li><a href="https://t.me/IlyaParputs" class="icon brands style2 fa-twitter"><img src="~/images/telegram.svg" alt="" /> <span class="label">Telegram</span></a></li>
                        <li><a href="https://github.com/IparkuSS" class="icon brands style2 fa-facebook-f"><img src="~/images/gitHub.svg" alt="" /><span class="label">GitHub</span></a></li>
                        <li><a href="https://www.linkedin.com/in/ilya-parputs-855776217/" class="icon brands style2 fa-instagram"><img src="~/images/lincedIn.svg " alt="" /><span class="label">LinkedIn</span></a></li>
                    </ul>
                </section>
                <ul class="copyright">
                    <li>&copy; Parputs Ilya</li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="~/js/scripts.min.js"></script>
</body>
</html>