

<div id="main">
    <div class="inner">

        <h2>Кабинет редактора</h2>




        <a asp-area="Redactor" asp-controller="Section" asp-action="Index" asp-route-id="">Добавить заголовок</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Subsection" asp-action="Index" asp-route-id="">Добавить Подзоголовок</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Articles" asp-action="Index" asp-route-id="">Добавить статью</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Auhtor" asp-action="Index" asp-route-id="">Просмотор статей от сообщества</a>
    </div>
</div>






