<div id="main">
    <div class="inner">
        <a asp-area="Redactor" asp-controller="Section" asp-action="Index" asp-route-id="">Add sections</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Subsection" asp-action="Index" asp-route-id="">Add subsections</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Articles" asp-action="Index" asp-route-id="">Add article</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Auhtor" asp-action="Index" asp-route-id="">View community articles</a>
    </div>
</div>
