<div id="main">
    <div class="inner">
        <a asp-area="Redactor" asp-controller="Section" asp-action="Index" asp-route-id="">Добавить секции</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Subsection" asp-action="Index" asp-route-id="">Добавить подсекции</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Articles" asp-action="Index" asp-route-id="">Добавить статьи</a>
        <hr>
        <a asp-area="Redactor" asp-controller="Auhtor" asp-action="Index" asp-route-id="">Прсмотор файлов от авторов</a>
    </div>
</div>
