@model IEnumerable<News.MVC.Models.SectionData>
@{
    ViewData["Title"] = "Index";
}
<h1>Choose Section</h1>
<div id="main">
    <div class="inner">
        <section class="tiles">
            @foreach (var item in Model)
            {
                <article class="style1">
                    <span class="image">
                        <img width="10em" height="240em" src="~/images/@item.TitleImagePath" alt="" />
                    </span>
                    <a asp-area="Redactor" asp-controller="Articles" asp-action="Subsections" asp-route-id="@item.Id">
                        <h2>@item.NameSection</h2>
                    </a>
                </article>
            }
        </section>
    </div>
</div>
