@model IEnumerable<MVCNews.Models.SubsectionData>
<div id="main">
    <div class="inner">

        <h1>
            Выберите подзаголовок
        </h1>


        <section class="tiles">
            @foreach (var item in Model)
            {
                <article class="style2">
                    <span class="image">
                        <img src="~/images/pic01.jpg" alt="" />
                    </span>
                    <a asp-area="Redactor" asp-controller="Articles" asp-action="GetArticles" asp-route-idsection="@item.IdSection" asp-route-idsubsection="@item.Id">
                        <h2>@item.Name</h2>
                    </a>


                </article>
            }
        </section>


    </div>
</div>

